Run Default
{{

    CircuitPath {circuit_path}
    nrnPath {nrn_path}
    MorphologyPath {morphology_path}
    METypePath {metype_path}
    MEComboInfoFile {mecombo_file}
    CellLibraryFile circuit.mvd3

    CircuitTarget {target}
    RunMode LoadBalance
    RNGMode Random123
    Dt 0.025
    Duration {duration}

}}

Report soma
{{
    Target {target}
    Type compartment
    ReportOn v
    Unit mV
    Format Bin
    Dt 0.1
    StartTime 0.0
    EndTime {duration}
}}
